
.product{
        
    width: 150px;
    height: 150px;
    padding: 25px;
    float: left;
    margin: 35px;
}

.product .box-product {
    height: 300px;
    width: 200px;
    padding:15px ;
    text-align:center;
    background-color: #DCE0E1;
    box-shadow: 0 50px 50px #757676;
    border-radius: 15px;
    letter-spacing: 1px;
    
    
}
.product .box-product img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.add-cart{
    padding: 5px;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: aliceblue;
    border: 2px ;
}
.add-cart:hover{
    background-color: black;
}